# Example environment variables for the Supervision App
MYSQL_ROOT_PASSWORD=example_password
MYSQL_DATABASE=example_database
DB_IP=example_db_ip
DB_PORT=3306
DB_USERNAME=example_user
DB_PASSWORD=example_password
DB_NAME=example_database
LDAP_URL=ldaps://example.ldap.url:636
LDAP_DN=ou=example,dc=example,dc=com
JWT_SECRET=example_jwt_secret