{{ define "protected/all_supervisions/form.html" }}
<br>
<p class="h3">All Supervisions</p>
<div class="table-responsive" style="overflow-y: auto;">
    <table class="table table-hover align-middle" id="all_supervisions">
      <thead class="table-light">
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Title</th>
          <th>Deadline</th>
          <th>Supervisor</th>
          <th>Semester</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{ range .TabAllSupV}}
        <tr>
            <td><span class="badge {{ .ThesisTypeBadge}}">{{ .ThesisType }}</span></td>
            <td>{{ .Name }}</td>
            <td>{{ .ThesisTitle }}</td>
            <td>{{ .DeadlineDate }}</td>
            <td>{{ .Supervisor}}</td>
            <td>{{ .Semester }}</td>
            <td><span class="badge {{ .StatusBadge}}">{{ .Status }}</span></td>
            <td>
              <div class="btn-group btn-group-sm" role="group">
                <a href="{{ .LinkEmail }}" class="btn btn-outline-primary" role="button">&#9993;</a>
                <a href="{{ .LinkModify }}" class="btn btn-outline-primary" role="button">&#9432;</a>
                <a href="{{ .LinkDelete }}" class="btn btn-outline-danger" role="button">D</a>
              </div>
            </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
</div>


{{ end }}