{{ define "protected/homepage/table_requests.html" }}

<p class="h3">Open Requests</p>
<div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
    <table class="table table-hover align-middle">
      <colgroup>
          <col style="width: 2.5%;">  <!-- Type -->
          <col style="width: 30%;">  <!-- Name -->
          <col style="width: 30%;">  <!-- Course of Study -->
          <col style="width: 5%;">  <!-- GPA -->
      </colgroup>
      <colgroup align="right">
          <col style="width: 7.5%;">  <!-- Request Date -->
          <col style="width: 5%;">  <!-- Status -->
          <col style="width: 5%;">  <!-- Action -->
      </colgroup>
      <thead class="table-light">
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Course of Study</th>
          <th>GPA</th>
          <th>Request Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{ range .TabOpReq}}
        <tr>
            <td><span class="badge {{ .ThesisTypeBadge}}">{{ .ThesisType }}</span></td>
            <td>{{ .Name }}</td>
            <td>{{ .CourseOfStudy }}</td>
            <td>{{ .GPA }}</td>
            <td>{{ .RequestDate }}</td>
            <td><span class="badge bg-danger">{{ .Status }}</span></td>
            <td>
              <div class="btn-group btn-group-sm" role="group">
                <a href="mailto:{{ .Email }}" class="btn btn-outline-primary" role="button">&#9993;</a>
                <a href="/view?tuid={{ .Tuid }}" class="btn btn-outline-primary" role="button">&#9432;</a>
                <a href="/files/download?tuid={{ .Tuid }}&category=transcript-of-records&noDownload=1" target="_blank" class="btn btn-outline-secondary btn-download-category" data-category="transcript-of-records" title="Open latest Transcript of Records">ToR</a>
                <a href="/files/download?tuid={{ .Tuid }}&category=cv&noDownload=1" target="_blank" class="btn btn-outline-secondary btn-download-category" data-category="cv" title="Open latest CV">CV</a>
              </div>
            </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
</div>

{{ end }}